/* center text */
.center {
    text-align: center;
    display: block;
}
/* right justify images */
img[alt*="right"] {
    float: right;
    clear: right;
    margin-left: 1rem; /* Adds some space between image and text */
    margin-bottom: 2px;
    margin-top: 2px;
}
/* right justify images */
img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
